.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  button {
    font-size: 15px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    flex: 2;
    &#filter-all {
      flex: 1;
    }
  }
}

@media screen and (max-width: 500px){
  .filter {
    button {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 360px){
  .filter {
    gap: 0;
    button {
      font-size: 14px;
      border-radius: 0;
      border: 2px solid #52BBFF;
      border-right: 0;
      border-left: 0;
    }
  }
}

@media screen and (max-width: 290px){
  .filter {
    button {
      font-size: 13px;
    }
  }
}
