.form {
  width: 100%;
  &__title {
    margin-bottom: 3px;
  }
  &__input-wrap {
    width: 100%;
    max-width: calc(350px + 20px);
    padding: 8px 10px;
    border: 1px solid black;
    margin-bottom: 7px;
    border-radius: 3px;
  }
  &__input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
  }

  &__btn {
    border-radius: 4px;
    height: 28px;
    outline: none;
    border: none;
    &.btn-accept {
      margin-right: 5px;
    }
    &.btn-delite {
      background: rgba(246, 13, 62, 0.7);
      color: #fff;
    }
  }
}