.todo-item {
  width: calc(100% - 20px);
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__wrap {
    display: flex;
    align-items: center;
    
  }
  &__title {
    max-height: 46px;
    overflow: hidden;
  }
  &__completed {
    margin-right: 5px;
  }
  &__btn {
    border: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(246, 13, 62, 0.7);
    border-radius: 2px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(246, 13, 62, 0.7);
    font-size: 18px;
    &:hover {
      background-color: rgba(246, 13, 62, 0.7);
      color: #fff;
    }
    &:active {
      background-color: transparent;
    }
  }
}