.app-wrap {
  background-color: rgba(252, 152, 252, 0.5);
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 80px);
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  &__title {
    margin-bottom: 30px;
  }
  &__form {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;  
    margin-bottom: 20px;
  }
  &__todo-list {
    width: 100%;
  }
  &__filter {
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
  }
}


@media screen and (max-width: 500px){
  .app {
    max-width: calc(100% + 20px);
  }
}

@media screen and (max-width: 360px){
  .app-wrap {
    display: flex;
    align-items: flex-start;
  }
  .app {
    max-width: calc(100%);
    margin: 0;
    flex: 1;
    &__filter {
      max-width: calc(100% + 20px);
      width: calc(100% + 20px);
      position: sticky;
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 290px){
  .app {
    &__filter {
      max-width: 100%;
    }
  }
}


