/* work-300 - latin */
@font-face {
  font-family: "Work";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(""), 
    url("../fonts/work-light.woff") format("woff");
}
/* work-regular - latin */
@font-face {
  font-family: "Work";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), 
    url("../fonts/work-regular.woff") format("woff");
}
/* work-700 - latin */
@font-face {
  font-family: "Work";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), 
    url("../fonts/work-bold.woff") format("woff");
}
/* work-800 - latin */
@font-face {
  font-family: "Work";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local(""), 
    url("../fonts/work-ultrabold.woff") format("woff");
}